<div class="container">
  <div class="row h-100 justify-content-center ">
    <div class="col-8 mb-auto pt-4 pb-4 text-justify">
        <h1 class="text-center">About Us</h1>
        <hr>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium pulvinar erat vel elementum. Nullam elit turpis,
        laoreet vitae imperdiet at, facilisis non orci. Donec facilisis congue tellus, ut viverra justo scelerisque nec.
        Maecenas bibendum orci sed sapien imperdiet porttitor. Cras tempor, enim sit amet convallis tincidunt, nibh ante
        sollicitudin ipsum, quis gravida libero velit vitae ante. Duis pharetra vehicula neque. Duis hendrerit dapibus mauris,
        vitae aliquet massa auctor at.
        </p>
        <p>
        Phasellus eu mauris bibendum, efficitur dolor a, elementum turpis. Cras aliquam justo id mi porttitor sagittis. Nulla eu
        dignissim nulla. Proin bibendum interdum massa sed tempor. Aenean consequat purus interdum nibh sagittis, quis
        vestibulum lacus tempus. Proin eu erat in arcu vulputate vehicula. Mauris viverra orci a enim maximus, et tincidunt
        lectus consectetur. Pellentesque id libero dignissim, tempus libero ac, bibendum sapien. Aliquam erat volutpat. In hac
        habitasse platea dictumst. Aenean sollicitudin scelerisque ante, quis molestie nulla eleifend sed. Morbi ut nunc vel
        arcu molestie accumsan. Sed posuere maximus aliquet.
        </p>
        <p>
        Fusce pharetra, mauris sit amet ullamcorper sagittis, quam augue aliquet felis, ac hendrerit tortor magna venenatis
        magna. Donec ac mi massa. Duis sit amet aliquam est. Duis ullamcorper ultricies tortor. Nunc et tortor in lorem bibendum
        blandit sit amet fringilla nisl. Quisque venenatis augue elit, non commodo nibh scelerisque ut. Sed dictum suscipit
        bibendum. Sed volutpat sapien vulputate ipsum posuere, et tempor metus dapibus. Sed non lectus eget ligula congue
        finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu finibus nibh, tempus euismod massa.
        Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>


      </div>
  </div>
</div>
