
<div class="row h-100 justify-content-center">
    <div class="col pt-4 pb-3">
      <h1>Welcome {{ name }}!</h1>
      <hr>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis mi ac iaculis tincidunt. Praesent ac diam
      molestie, dapibus arcu eu, accumsan mi. Pellentesque vel ligula dictum, maximus velit eu, tincidunt sapien. Sed suscipit
      neque sed mi convallis, nec eleifend mauris lobortis. Aliquam felis turpis, sagittis vestibulum laoreet vel, mollis non
      libero. Praesent a leo lectus. In cursus, quam vel congue malesuada, dui orci tincidunt libero, ac vulputate arcu eros
      nec ante. Pellentesque venenatis nibh urna, at venenatis diam iaculis at. Nulla at risus vel ante porta pellentesque at
      vitae lectus. Vivamus leo tellus, placerat et pharetra nec, dictum non lectus.</p>
      <p>
      Morbi sed nunc sed elit tincidunt egestas. Morbi egestas malesuada lectus nec varius. Aliquam convallis, libero sed
      venenatis vulputate, augue nunc placerat mauris, et mattis urna nunc ac metus. In et nisl ac augue condimentum maximus
      vitae ut nulla. Morbi dui mauris, auctor at rutrum in, viverra tristique mi. Morbi nec dui risus. Vestibulum convallis
      est at nibh commodo tristique a et neque.
      </p><p>
      Pellentesque vehicula sodales felis, id interdum risus sagittis volutpat. Fusce in justo placerat, venenatis felis sed,
      scelerisque justo. Nam varius porttitor aliquet. Phasellus vitae consequat massa. Nunc vitae rhoncus tellus. Vestibulum
      eu lacinia leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>

    </div>
</div>

